@media (min-width: 768px){
	.mg-30{
	margin: 30px 0;
	}	
}

.width100{
	width: 100px;
}

.width300{
	width: 300px;
}

.bg-blue{
	background-color: #013553!important;
}

body.background{
	background-image: url("../template/img/myart/3.jpg")!important;
	background-repeat: no-repeat;
}

.width150{
	width: 150px;
}

#particles-js{
background-color: transparent;
position: absolute;
top: 0;
width: 100%;
height: 470px;
}	
